@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-red: #D62C42;
  --custom-pink: #f4d7d0;
}



.wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 8px 15px;
}


.color-custom-red {
  color: var(--custom-red)

}

.profile-dropdown-shadow {
  box-shadow: 1px 1px 5px  rgb(242, 241, 241), -1px -1px 5px  rgb(242, 241, 241);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Saperator */
/* this class applied to single div */
.separator {
  height: 16px;
  width: 1px;
  background-color: rgb(107, 114, 128);
}
